/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: 'Lora', serif;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

/* Section Styles */
section {
    padding: 40px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2, h3 {
    font-family: 'Lora', serif;
}

.about, .projects, .experience, .contact, .resume {
    max-width: 1000px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Button Styles */
.resume-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.resume-btn:hover {
    background-color: #45a049;
}

.img-container {
    text-align: center;
    margin-top: 20px;
}

.img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
